.tags-container{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  padding: 8px;
  .tag-item{
    margin: 0 4px 4px 0;
  }
  .chip-container{
    overflow: hidden;
    padding: 12px;
  }
  .mat-chip{
    cursor: pointer;
  }
  .mat-card{
    margin-bottom: 12px;
  }
}