<div class="register-container">
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-label>用户名</mat-label>
      <input matInput placeholder="请输入您的用户名" required formControlName="username">
      <mat-error *ngIf="userForm.hasError('minlength', 'username')">用户名过短</mat-error>
      <mat-error *ngIf="userForm.hasError('maxlength', 'username')">用户名过长</mat-error>
      <mat-error *ngIf="userForm.hasError('required', 'username')">用户名不可为空</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>密码</mat-label>
      <input matInput placeholder="请输入密码" required formControlName="password" type="password">
      <mat-error *ngIf="userForm.hasError('required', 'password')">请输入密码</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitHandler()">登录</button>
  </form>
  <p class="register-link">
    还没有账号？去<a [routerLink]="['/register']" style="color: #673ab7;">注册</a>
  </p>
</div>